[core]
        autocrlf = false
[credential]
        helper = store
[alias]
        cm = commit -m
        alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
        todo = ! git grep --extended-regexp -I --line-number --break --heading --color=auto 'TODO|FIXME'
        todo-list = ! git grep --extended-regexp -I --line-number --count 'TODO|FIXME'
        st = status
        d = diff
[user]
	email = t.kervran29@gmail.com
	name = Tanguy Kervran
